/* CSS Document by Shaorui */
* {
	margin:0;
	padding:0;
}
html {
	
	height:100%;
	overflow-x:hidden;
}
body {

	COLOR: #000000;
	height:100%;
	margin:0;
	padding:0;
	font-size:10pt;
	background:#F0F0F0;
	color:#333;
	overflow:auto;
	overflow-x:hidden;
}
/*  header*/

#index {
   background:#f1f1f1;
	border-left:0px solid #1978b0;
}
h3{
	position:absolute;
	width:100%;
	color:#FFF;
	font-size:20pt;
	font-family:Georgia, "Times New Roman", Times, serif;
 
	padding:8px 0 5px 210px;
	background:#17a7db;
	border-bottom:3px solid #FFF;
}
h6{
    position:absolute;
	width:100%;
	color:#FFF;
	font-size:12pt;
	font-family:Georgia, "Times New Roman", Times, serif;
 
	padding:0px 0 0px 0px;
	background:#17a7db;
	

}
#userInfo {
	width:100%;
	position:absolute;
	top:50px;
	right:20px;
	text-align:right;
	color:#000000;
	height: 40px;
	
}

a {
	color:#006666;
}
A:link {
	COLOR: #006699; TEXT-DECORATION: none
}
A:visited {
	COLOR: #006699; TEXT-DECORATION: none
}
A:active {
	COLOR: #006699; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000
}
h2 {
     width:760px;
	background:url(images/h2bg.gif) repeat-x top left;
	font-size:12px;
	padding:8px;
	color:#333;
	padding-left:320px;
}
p {
    width:760px;
	margin:50px;
	padding:0px 50px 50px 300px;
	

}


TEXTAREA {
	BORDER-RIGHT: #b2b2b2 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #b2b2b2 1px solid; PADDING-LEFT: 3px; BACKGROUND: #f4f4f4; PADDING-BOTTOM: 3px; MARGIN: 1px; FONT: 13px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #b2b2b2 1px solid; COLOR: #000; PADDING-TOP: 3px; BORDER-BOTTOM: #b2b2b2 1px solid
}
INPUT {
	BORDER: #b2b2b2 1px solid; 
	PADDING: 3px; 
	 BACKGROUND: #f4f4f4; 
	  MARGIN: 1px; 
	FONT: 12px Verdana, Arial, Helvetica, sans-serif; 
	 COLOR: #000; 
	height:25px;
	FONT-SIZE: 1.2em;
}
SELECT {
	BORDER-RIGHT: #b2b2b2 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #b2b2b2 1px solid; PADDING-LEFT: 3px; BACKGROUND: #f4f4f4; PADDING-BOTTOM: 3px; MARGIN: 1px; FONT: 13px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #b2b2b2 1px solid; COLOR: #000; PADDING-TOP: 3px; BORDER-BOTTOM: #b2b2b2 1px solid
}

input.bt {
	height:30px;
	padding:4px;
	border:3px double #CCC;
	border-right-color:#999;
	border-bottom-color:#999;
	background:url(images/fade-butt.png) #EEE repeat-x left top;
}
input.checkbox {
	border:none;
	height:auto;
}
textarea,select {
	background:#F4F4F4;
	border:1px solid #A5ACB2;
}
table {
padding:0px;
margin:8px auto;
border-collapse:collapse;
}
th,td {
	padding:5px;
	FONT-SIZE:12px; COLOR: #006699;
	vertical-align:middle;
	border:1px dotted #DDD;
	border-collapse:collapse;
	height:25px;
	
}
th {
	background:#DFDFDF;
	
}
td {
	background:#F1F1F1;
	
}


.buttoncss {
    font-family: "Tahoma", "ו";
    font-size: 9pt; color: #003399;
    border: 1px #003399 solid;
    color:006699;
    BORDER-BOTTOM: #93bee2 1px solid; 
    BORDER-LEFT: #93bee2 1px solid; 
    BORDER-RIGHT: #93bee2 1px solid; 
    BORDER-TOP: #93bee2 1px solid;
    background-color: #e8f4ff;
    CURSOR: hand;
    font-style: normal ;
}

.inputcss {  
    font-size: 9pt; 
    color: #003399; 
    font-family: "ו"; 
    font-style: normal; 	
    border-color: #93BEE2 #93BEE2 #93BEE2 #93BEE2 ; 
    border: 1px #93BEE2 solid; 
}
.inputcssnull {  
    font-size: 9pt; 
    color: #003399; 
    font-family: "ו"; 
    font-style: normal; 	
    border: 0px #93BEE2 solid; 
}
.scrollbar{
   SCROLLBAR-FACE-COLOR: #5a5a5a; 
   FONT-SIZE: 9pt; 
   SCROLLBAR-HIGHLIGHT-COLOR: #333333; 
   SCROLLBAR-SHADOW-COLOR: #333333; 
   SCROLLBAR-3DLIGHT-COLOR: #333333; 
   SCROLLBAR-ARROW-COLOR: #ffffff; 
   SCROLLBAR-TRACK-COLOR: #333333;
   SCROLLBAR-DARKSHADOW-COLOR: #333333

 }
.scrollbar{
   SCROLLBAR-FACE-COLOR: #5a5a5a; 
   FONT-SIZE: 9pt; 
   SCROLLBAR-HIGHLIGHT-COLOR: #333333; 
   SCROLLBAR-SHADOW-COLOR: #333333; 
   SCROLLBAR-3DLIGHT-COLOR: #333333; 
   SCROLLBAR-ARROW-COLOR: #ffffff; 
   SCROLLBAR-TRACK-COLOR: #333333;
   SCROLLBAR-DARKSHADOW-COLOR: #333333;

 }
 .zhuyi{
 color:#FF0000;
}
 
